fastapi==0.123.0
uvicorn==0.38.0
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic-settings==2.12.0
huggingface-hub==0.16.4
transformers==4.57.3
sentence-transformers==2.2.2
python-dotenv==1.2.1
numpy==1.25.2
pgvector